<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <a class="btn btn-block btn-lg btn-outline-light" href="@Url.Content("~/Employees/Index")"><i class="icon-people  m-auto text-primary"></i></a>
                    </div>
                    <a href="@Url.Content("~/Employees/Index")"><h3>Employees</h3></a>
                    <p class="lead mb-0">Search company employees!</p>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <a class="btn btn-block btn-lg btn-outline-light" href="@Url.Content("~/Departaments/Index ")"><i class="icon-layers m-auto text-primary"></i></a>
                    </div>
                    <a href="@Url.Content("~/Departaments/Index ")"><h3>Departments </h3></a>
                    <p class="lead mb-0">You can search the departments that the company owns!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <a class="btn btn-block btn-lg btn-outline-light" href="@Url.Content("~/Location/Index")"><i class="icon-location-pin m-auto text-primary"></i></a>
                    </div>
                    <a href="@Url.Content("~/Location/Index")"><h3>Locations</h3></a>
                    <p class="lead mb-0">See all company locations!</p>
                </div>
            </div>
        </div>
    </div>
</section>
